{% load i18n nav_tags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>We are not available right now!</title>
    <link rel="icon" href="{% url media "favicon.ico" %}" type="image/x-icon"/>
    <link rel="shortcut icon" href="{% url media "favicon.ico" %}" type="image/x-icon"/>

    {% block media %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% url media "project/css/style.css" %}" />
  </head>

  <body>
    <div id="header-wrapper">
      <div id="header">
        <div id="logo">
          <a href="/" title="{% trans "Click here to get back to the start page" %}">
            <h1>Maintenace Mode</h1>
          </a>
        </div><!-- ends logo -->
      </div><!-- ends header -->
    </div><!-- ends header-wrapper -->

    <div id="menu-wrapper">
      <div id="menu"> 
      </div><!-- ends "menu" -->
    </div><!-- ends menu-wrapper -->

    <div id="page">
      <div id="page-bottom">
        <div id="content">
        <p>I apologize, but I'm currently making changes to this website.
        Please come back later.</p>
        </div><!-- ends content -->
      </div><!-- ends page-bottom -->
    </div><!-- ends page -->


    <div id="footer-wrapper">
      <div id="footer">
        <p>(c) {% now "Y" %} André Anjos</p>
      </div><!-- ends footer -->
    </div><!-- ends footer-wrapper -->

  </body>

</html>

<html>
