*~
sw
*.pyc
*.pyo
.*.swp
installer/bootstrap.py
installer/ez_setup.py
installer/sw
pip-log.txt
cache/
downloads/
*.egg
*.egg-info
backup/
favicon.*
django-*/
dbconfig.py
backup.sh
media/chords/artists
media/menus
media/packages
media/project
media/audit/db/
