/** Style for our personalized admin site **/

body {
  background-color: #f8f5ec;
}

#header {
  background-color: #3c3230;
  border-bottom: 5px solid #4f4440;
}

.module h2, .module caption, .inline-group h2 {
  background: #5e5452 url('../img/admin/default-bg.gif') top left repeat-x;
}

img.icon {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.admin img {
  vertical-align: middle;
}
