body {
	margin: 0px;
	padding: 0;
	background: #EDE7DB url(../img/background.png) repeat-x left top;
	text-align: justify;
	font-family:  Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #696969;
}

h1, h2, h3 {
	margin-top: 0;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
}

ul {
}

a {
	text-decoration: none;
	color: #696969;
}

a:hover {
	border-bottom: none;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}

#header-wrapper {
	width: 100%;
	height: 150px;
}

#header {
	width: 960px;
	margin: 0 auto;
	height: 150px;
}

/* Header */

#logo {
	width: 960px;
	height: 150px;
	margin: 0 auto;
}

#logo h1, #logo p {
	margin: 0;
	padding-left: 100px;
	color: #FFFFFF;
}

#logo span {
	color: #FFFFFF;
}

#logo a {
	border: none;
	text-decoration: none;
	color: #FFFFFF;
}

#logo .text {
  margin-left: 135px;
}

#logo .text font.title {
	padding: 25px 0 0 0;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-weight: normal;
	font-size: 5.8em;
}

#logo .text font.subtitle {
	text-transform: lowercase;
	padding: 4px 0 0 3px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 3em;
	color: #FFFFFF;
}

#logo img {
  width: 120;
  height: 120;
  float: left;
  border: 2px black solid;
  border-radius: 3px;
  margin-top: 10px;
}

/* Wrapper */

#wrapper {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

/* Page */

#page {
	width: 960px;
	margin: 0px auto;
	padding: 0px;
	background-color: #fff;
}

#page-bottom {
	padding: 0px 20px;
}

#content {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Footer */

#footer-wrapper {
	width: 100%;
	height: 100px;
}

#footer {
	width: 920px;
	height: 50px;
	margin: 0 auto;
	padding: 0 20px;
	background: #220;
  border-bottom-left-radius: 1em;
  -webkit-bottom-left-border-radius: 1em;
  -moz-border-radius-bottomleft: 1em;
  border-bottom-right-radius: 1em;
  -webkit-bottom-right-border-radius: 1em;
  -moz-border-radius-bottomright: 1em;
}

#footer p {
	margin: 0;
	padding: 20px 0 0 0;
	text-align: center;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #696969;
}

/* Menu */
#menu-wrapper {
	width: 920px;
	margin: 0 auto;
	height: 35px;
	padding: 0px 20px;
	background: url(../img/menu.png) repeat-x left top;
	text-align: right;
  border-top-left-radius: 1em;
  -webkit-top-left-border-radius: 1em;
  -moz-border-radius-topleft: 1em;
  border-top-right-radius: 1em;
  -webkit-top-right-border-radius: 1em;
  -moz-border-radius-topright: 1em;
}

#menu {
  padding-top: 11px;
}

#menu .item a {
  background-color: #f96;
  border: 1px solid #f96;
  color: white;
	padding: 0px 6px 0px 6px; /* top right bottom left */
}

#menu .item a:hover {
  background-color: #c33;
  border: 1px solid #c33;
  border-style: inset;
}

#menu .admin img {
  border: none;
  background: none;
  padding: 0px;
  margin: 0px;
  vertical-align: top;
}

#menu a {
	text-decoration: none;
	font-size: 13px;
	color: #fff;
}

#menu a:hover {
	text-decoration: none;
}

#menu {
  vertical-align: bottom;
  text-align: right;
}

#menu .userinfo {
  color: #fff;
  margin-bottom: 5px;
  margin-right: 20px;
}

#menu .userinfo .username {
  font-weight: bold;
}

#menu .userinfo .username:hover {
  color: #220;
}

/* From this poin onwards, we have elements that are required
 * for every web page in this website
 */
p.title {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

p.subtitle {
  font-size: 1.6em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.pagination {
  margin: 1em;
  text-align: right;
}

div.actions, div.actions a:link, div.actions a:visited {
  margin-top: 2em;
  font-size: 1em;
  color: #000
  text-decoration: none;
  font-weight: bold;
  text-align: right;
}

div.actions a:hover {
  color: #333;
  text-decoration: underline;
}

/* For tables */
tr.even, td.even {
  background-color: #cef;
}

tr.odd, td.odd {
  background-color: #eee;
}

/** For our bitrepo module **/

/* Navigation style */
.bitrepo p.navigation {
  text-align: center;
  background-color: #fee;
  border: #b00 solid 1px;
  padding: 7px;
}

.bitrepo p.navigation a {
  background-color: #b00;
  border-color: #b00;
  color: white;
  font-family: arial, helvetica, sans;
  font-weight: bold;
  border-style: outset;
  border-width: 1px;
  text-decoration: none;
  padding: 2px;
}

.bitrepo p.navigation a:hover  {
  background-color: #d00;
  border-color: #d00;
  border-style: inset;
}

/* Paginator style */
.bitrepo .pagination {
  font-family: arial, helvetica, sans;
  font-weight: bold; 
  color: #333;
}

.bitrepo .pagination p {
  /* order is top right bottom left */
  text-align: center;
}

.bitrepo .pagination .page {
  background-color: #ccc;
  border-color: #ccc;
  border-style: outset;
  border-width: 1px;
  /* order is top right bottom left */
  padding: 0.1em 0.4em 0.1em 0.4em;
}

.bitrepo .pagination .page:hover {
  background-color: #f88;
  border-color: #f88;
  border-style: inset;
}

.bitrepo .pagination .current {
  background-color: #bdf;
  border-color: #bdf;
}

.bitrepo .pagination a {
  text-decoration: none;
  color: #333;
}

.bitrepo table.movies {
  width: 100%;
}

.bitrepo table.movies td {
  color: #3c3230;
  font-size: 0.9em;
}

.bitrepo table.movies tr th {
  background-color: #3c3230;
  color: white;
  font-style: italic;
}

.bitrepo table.movies td.name {
  width: 50%;
  font-weight: bold;
}

.bitrepo table.movies td.year {
  font-weight: bold;
}

.bitrepo table.movies img {
  border: none;
}

/** For our pictures and videos **/
.djangoogle img.picasaweb-logo, .djangoogle img.youtube-logo {
  border: none;
}

/** For our code **/
table.highlighttable td.code .highlight pre {
  width: 800px;
}

/** A few adjustments for projects **/
.project table.layout {
  width: 100%;
}

.project table.layout table.list {
  font-size: 0.9em;
  width: 100%;
}

/* Navigation style */
.project p.navigation a {
  background-color: #b00;
  border-color: #b00;
  color: white;
  font-family: arial, helvetica, sans;
  font-weight: bold;
  font-size: 90%;
  border-style: outset;
  border-width: 1px;
  text-decoration: none;
  padding: 2px;
}

.project p.navigation a:hover  {
  background-color: #d00;
  border-color: #d00;
  border-style: inset;
}

.djit * table {
  color: #333;
  width: 100%;
}

.djit table.layout {
  border-spacing: 10px;
  width: 100%;
}

.djit table.shortlog {
  font-size: 0.75em;
}

.djit td.action form {
  margin-top: auto;
  margin-bottom: auto;
}

.djit td.action form input {
  width: 30px;
}

.djit td.action form input:focus {
  width: 80px;
}

.djit td.sha1 {
  text-align: center;
}

.djit .list {
  font-size: 130%;
  margin-left: auto;
  margin-right: auto;
}


/** For our chords module **/

div.chords {
  font-size: 1.3em;
}

div.chords p.song-performer {
  font-family: times, serif;
}

div.chords p.title {
  font-size: 2em;
  font-family: times, serif;
  text-align: left;
}

div.chords .info-bar {
  font-size: 1.1em;
}

/* Navigation style */
.chords p.navigation {
  text-align: center;
  background-color: #fee;
  border: #b00 solid 1px;
  padding: 7px;
}

.chords p.navigation a {
  background-color: #b00;
  border-color: #b00;
  color: white;
  font-family: arial, helvetica, sans;
  font-weight: bold;
  border-style: outset;
  border-width: 1px;
  text-decoration: none;
  padding: 2px;
}

.chords p.navigation a:hover  {
  background-color: #d00;
  border-color: #d00;
  border-style: inset;
}

/* Paginator style */
.chords .pagination {
  font-family: arial, helvetica, sans;
  font-weight: bold; 
  color: #333;
}

.chords .pagination p {
  /* order is top right bottom left */
  text-align: center;
}

.chords .pagination .page {
  background-color: #ccc;
  border-color: #ccc;
  border-style: outset;
  border-width: 1px;
  /* order is top right bottom left */
  padding: 0.1em 0.4em 0.1em 0.4em;
}

.chords .pagination .page:hover {
  background-color: #f88;
  border-color: #f88;
  border-style: inset;
}

.chords .pagination .current {
  background-color: #bdf;
  border-color: #bdf;
}

.chords .pagination a {
  text-decoration: none;
  color: #333;
}

.chords table.songs {
  width: 100%;
}

.chords table.songs td {
  color: #3c3230;
  font-size: 0.9em;
}

.chords table.songs tr th {
  background-color: #3c3230;
  color: white;
  font-weight: normal;
  font-size: 0.9em;
}

.chords table.songs td.shortcuts {
  width: 10%;
  font-weight: bold;
}

.chords table.songs td.title {
  width: 30%;
  font-weight: bold;
}

.chords table.songs td.collections {
  text-align: center;
  width: 10%;
}

.chords table.songs td.composer, .chords table.songs td.performer {
  width: 12%;
}

.chords table.songs td.tone {
  font-weight: bold;
  text-align: center;
  width: 8%;
}

.chords table.songs td.year {
  font-weight: bold;
}
